body {
  background-color: black;
  font-size: 22px;
  color: seashell;
  font-family:Helvetica;
  display: block;
  margin: 0;
  text-align:flex-start;

.box  {
  display:flex;
  justify-content: left;
  flex-wrap:wrap;
  color: seashell;
}

header img {
  height: 50px;
  padding-left: 10px;
}




header {
  width: 100%;
  position: fixed;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-content: flex-start;
  z-index:1;
  opacity: 0.9;

}
a {
  color: seashell;
  text-decoration: underline;
}
nav {
  text-align: right;
  flex-grow: 2;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}
